# Ignore build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Dotnet watch
.dotnetwatch/

# Visual Studio cache/files to ignore
.vs/
*.db
*.cache
*.log
